.loading-localization{background:#80af49;background-image:url(/web/20200925213003im_/https://surviv.io/img/main_splash.jpg);background-repeat:no-repeat;background-size:cover;bottom:0;left:0;position:absolute;right:0}.loading-localization #start-menu-wrapper{opacity:0!important}.loading-localization #over-game-wrapper{opacity:0!important}.loading-localization #surviv-modal-offerwall-reward{opacity:0!important}.loading-localization #surviv-loading-screen{opacity:0!important}
/*
     FILE ARCHIVED ON 21:30:03 Sep 25, 2020 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 19:45:14 Oct 10, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 126.667
  exclusion.robots: 0.086
  exclusion.robots.policy: 0.077
  cdx.remote: 0.063
  esindex: 0.009
  LoadShardBlock: 80.881 (3)
  PetaboxLoader3.resolve: 93.987 (3)
  PetaboxLoader3.datanode: 150.088 (5)
  load_resource: 232.513 (2)
*/